---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import FeaturedWork from '@/components/sections/FeaturedWork.astro';
import OtherProjects from '@/components/sections/OtherProjects.astro';
import Contact from '@/components/sections/Contact.astro';
---

<Layout title="Borja Arán">
  <main>
    <Hero />
    <About />
    <Experience />
    <FeaturedWork />
    <OtherProjects />
    <Contact />
  </main>
</Layout>
